@font-face {
    font-family: 'CommissReg';
    src: local("Commissioner-Regular"),
         url('../../fonts/Commissioner-Regular.woff2') format('woff2'),
         url('../../fonts/Commissioner-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CommissMedium';
    src: local("Commissioner-Medium"),
         url('../../fonts/Commissioner-Medium.woff2') format('woff2'),
         url('../../fonts/Commissioner-Medium.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'CommissBold';
    src: local("Commissioner-Bold"),
         url('../../fonts/Commissioner-Bold.woff2') format('woff2'),
         url('../../fonts/Commissioner-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LatoReg';
    src: local("Lato-Regular"),
         url('../../fonts/Lato-Regular.woff2') format('woff2'),
         url('../../fonts/Lato-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LatoLight';
    src: local("Lato-Light"),
         url('../../fonts/Lato-Light.woff2') format('woff2'),
         url('../../fonts/Lato-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'LatoBold';
    src: local("Lato-Bold"),
         url('../../fonts/Lato-Bold.woff2') format('woff2'),
         url('../../fonts/Lato-Bold.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SourceSans';
    src: local("SourceSansPro-Regular"),
         url('../../fonts/SourceSansPro-Regular.woff2') format('woff2'),
         url('../../fonts/SourceSansPro-Regular.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}